@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 style="display: inline-flex;">Pluralsight Service Desk Automation Using OpenAI</h1>
    <img src="~/images/Pluralsight_logo_F-11.png" alt="Pluralsight" style="float:right; width:175px; height:auto; margin-right:5px; display:inline-flex; margin-right: 40px" />
</div>

<div class="row">
    <div id="parentchatdiv"></div><div id="citations"></div>
</div>
<div id="textdiv" align="right">
    <textarea id="qnatextbox"></textarea>
    <input value="Send Message" type="button" name="SendMessage" id="SendMessage" />
</div>